*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color:#8A8A8A;
}

.clearfix::after{
    content:"";
    clear: both;
    display: table;
}

.black-cover{
    height: 100%;
    background: rgba(0,0,0,30%);
}

.container{
    max-width: 1280px;
    margin:auto;
}

header{
    width: 100%;
    min-height: 150px;
    margin-bottom: 20px;
}

.hero-text h1{
    font-weight: 400;
}

img.logo{
    height: 75px;
    width: 200px;
    margin-bottom: 30px;
    margin-top: auto;
    border-right: 1px solid #8A8A8A;
    padding-right: 20px;
}

nav{
    margin-top:10px;
}

nav ul li{
    list-style: none;
    display: inline;
    margin-right:10px;
}

nav a{
    color:rgb(168, 168, 168);
    text-decoration: none;
}

.head-sec-2 h2{
   color:black; 
   font-weight: 900;
}

.hero{
    position: relative;
    background: url("../img/banner.jpg");
    background-position: center center;
    height: 450px;
    margin-bottom: 30px;
}

.radius-border{
    border-radius: 10px;
}


.hero-text{
    padding-right: calc(100% - 880px);
    color:white;
    position: absolute;
    top:80%;
    left:15%;
    transform: translate(-15%,-80%);
}

.col{
    min-height: 300px;
    margin: 20px auto 40px auto;
}

.col-left, .col-right{
    float:left;
    width:20%;
}

.col-center{
    float:left;
    width: calc(60% - 20px);
    margin-left: 10px; 
    margin-right:10px;
}

.img-col-left{
    background: url("../img/img-1.jpg");
}

.img-col-center{
    background: url("../img/banner-2.jpg");
}

.img-col-right{
    background: url("../img/img-3.jpg");
}

.img-col-left, .img-col-right, .img-col-center{
    background-position:  center ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 230px;
}

.title-article{
    margin:15px auto;
    font-weight: 400;
    color:black;
}

footer{
    height: 30px;
    width: 100%;
    margin-top:5px;
    text-align: center;
    color:black;
}

footer span:last-child{
    color:red;
    font-size: 20px;
}

